            /******
Patron Contact Content******/

            .section-contact {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                overflow: hidden;
            }

            .contact-grid {
                display: grid;
                grid-template-columns: 1fr 2.5fr;
                grid-template-areas: "hornet title" "image form";
                gap: 5px 10px;
                justify-content: center;
                /* max-height: 40vh; */
                width: 100vw;
                margin: 0% 0 5%;
            }

            .contact-grid2 {
                display: grid;
                grid-template-columns: 1.fr 2fr;
                gap: 10px 20px;
                grid-template-areas: " name name" "email email" "message message" ". button";
                justify-content: center;
                align-content: center;
                width: 33%;
                margin-top: 0%;
                margin-left: 27%;
            }

            .contact-title {
                position: absolute;
                grid-area: title;
                font-size: 3.5vw;
                /* margin-right: 34%; */
                margin-left: 56%;
                display: flex;
                /* align-self: center; */
                margin-top: 50%;
            }

            .contact-image--main {
                display: flex;
                float: left;
                grid-area: image;
                width: 110%;
            }

            .contact-grid2 {
                grid-area: form;
            }

            .contact-name {
                grid-area: name;
            }

            .contact-email {
                grid-area: email;
            }

            .message-area {
                grid-area: message;
            }

            .send-btn {
                grid-area: button;
            }
            /*contact page image settings*/

            .contact-img {
                width: 100%;
            }

            .hornet6 {
                grid-area: hornet;
            }
            /* .hornet-image, */

            .hornet-img7 {
                display: block;
                margin-top: -112%;
                margin-left: 60%;
            }
            /*contact form input areas set*/

            #contact-form input[type='text'],
            #contact-form input[type='email'],
            #contact-form input[type='text'],
            #contact-form textarea,
            #contact-form button[type='send'] {
                margin: 4px;
                border-radius: 6px;
                border: none;
                background: #f7f6f39f;
                height: 46px;
                width: 270px;
                padding: 5px;
                transition: border-color 0.3s ease-in-out;
                box-shadow: inset 1px 1px 1px rgb(0 0 0 / 20%);
            }
            /*labels for contact input*/

            #contact-form label {
                font-size: 0px;
            }
            /*contact input focus*/

            #contact-form input[type='text']:focus,
            #contact-form input[type='email']:focus,
            #contact-form textarea:focus {
                outline: none;
                color: #4b515d;
                border: 1px solid #B8B6B6;
                box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 4px rgba(0, 0, 0, 0.2);
            }
            /*text area input area on form */

            #contact-form textarea {
                height: 13em;
                width: 20em;
                height: 1;
                padding: 5px;
                border-radius: 10px;
                max-width: 100%;
                background: #f7f6f385;
            }
            /*contact 'Send button and styling*/

            #contact-form button[type='submit'] {
                cursor: pointer;
                width: 90px;
                height: 37px;
                border: none;
                background: #ebe9e4ad;
                border-radius: 5px;
                color: rgb(23, 194, 185);
                font-weight: 500;
                padding: 5px;
                -webkit-box-shadow: 0 8px 6px -6px rgb(88 81 81);
                -moz-box-shadow: 0 8px 6px -6px rgb(102, 94, 94);
                box-shadow: 0 8px 6px -6px rgb(100 96 96);
                margin-left: 0%;
            }
            /*submit button*/

            #contact-form button[type='submit']:hover {
                background: rgb(98, 238, 231);
                color: #4b515d;
                /*box shadow settings*/
                box-shadow: 0 8px 6px -6px black;
                transition: background-color 0.3s ease-in-out;
            }
            /*contact button box shadow*/

            #contact-form button[type='submit']:active {
                box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            }

            .modal-contact {
                display: flex;
                float: right;
                margin: -17% 0%;
                padding: 10px;
                justify-content: center;
                background-color: #817f7849;
                color: #43cec7;
                font-weight: 600;
                box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                height: 50px;
                width: 186px;
                display: none;
            }
            /* shoelace-button for 'Submit' */

             :root {
                /* Change the text color and background */
                --body-color: #43cec7;
                --body-bg-color: #817f7849;
            }

            sl-button {
                width: 121px;
                position: absolute;
                top: 50%;
                right: 70%;
                transition: transform 0.4s;
            }

            sl-button:hover {
                transform: scale(1.07);
            }

            sl-button::part(base) {
                background: #ebe9e4ad;
                border: none;
                font-size: 1em;
                font-weight: bold;
                color: #43cec7;
            }

            sl-dialog {
                --width: 250px;
            }

            sl-dialog::part(base) {
                border: #ebe9e4ad;
            }

            sl-dialog::part(panel) {
                background-color: #ebe9e4ad;
                text-align: center;
                height: 200px;
            }

            sl-dialog h2 {
                color: #43cec7;
                font-size: 1em;
                font-weight: bold;
            }

            sl-dialog::part(header) {
                height: 10px;
            }

            sl-dialog::part(title) {
                display: none;
            }

            sl-dialog a {
                text-decoration: none;
                color: #43cec7;
            }
            /* FOOTER */

            footer {
                margin: 0;
                height: 150px;
                background: #77777a;
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            footer h6 {
                text-align: center;
                color: #B8B6B6;
                /* padding: 68px 0px 0px 750px; */
                width: 80%;
                font-size: 1em;
                overflow: hidden;
            }


            @media only screen and (max-width: 600px) {
                .section-contact{
                    width: 100vw;
                }
                }


            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
                .section-contact{
                    width: 100vw;
                }
                }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
                .section-contact{
                width: 100vw;
            }
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                .section-contact{
                    width: 100vw;
                }
                }


            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1024px) {
                .section-contact{
                    width: 100vw;
                }.contact-title{
                    margin-top: 40%;
                }

                }
            @media only screen and (min-width: 1440px) {
                    .section-contact{
                        width: 100vw;
                    }
                    .contact-title{
                        margin-top: 35%;
                    }
                    }
