/******
Patron Contact Content******/

.section-contact {
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 0
}

.grid-contact {
    display: grid;
    grid-template-columns: 1fr .5fr 0.5fr;
    grid-template-rows: 0.3fr 0.5fr 0.6fr 0.5fr 0.4fr;
    gap: 5px 10px;
    grid-template-areas: "image title title" "image name message" "image email message" "image . button";
    max-height: 100vh;
    max-width: 80vw;
}

.contact-title {
    grid-area: title;
    font-size: 2vw;
}

.contact-image--main {
    grid-area: image;
}

.contact-name {
    grid-area: name;
}

.contact-email {
    grid-area: email;
}

.message-area {
    grid-area: message;
}

.send-btn {
    grid-area: button;
}


/*heading specs*/


/* 
#contact-title,
h1 {
    font-size: 4.5em;
} */


/*contact page image settings*/

.contact-img {
    grid-area: image;
    width: 100%;
    /* width: 113%;
    align-self: self-end;
    margin-left: -10%; */
}


/*Contact Form */

#contact-form {
    /* align-self: end; */
    display: flex;
    flex-wrap: wrap;
    height: 74px;
    flex-direction: column;
    justify-content: space-evenly;
    color: #817f78;
    margin-left: 9%;
}


/*contact form input areas set*/

#contact-form input[type='text'],
#contact-form input[type='email'],
#contact-form input[type='text'],
#contact-form textarea,
#contact-form button[type='send'] {
    font-size: 10px;
    margin: 4px;
    border-radius: 6px;
    border: none;
    background: #f7f6f39f;
    height: 29px;
    padding: 5px;
    transition: border-color 0.3s ease-in-out;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 134px;
}


/*labels for contact input*/

#contact-form label {
    font-size: 0px;
}


/*contact input focus*/

#contact-form input[type='text']:focus,
#contact-form input[type='email']:focus,
#contact-form textarea:focus {
    outline: none;
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 4px rgba(0, 0, 0, 0.2);
}


/*text area input area on form */

#contact-form textarea {
    height: 65px;
    width: 200px;
    height: 1;
    padding: 5px;
    border-radius: 10px;
    max-width: 100%;
    background: #f7f6f385;
}


/*contact 'Send button and styling*/

#contact-form button[type='submit'] {
    cursor: pointer;
    /*cursor pointer to show when hovering over button*/
    width: 200%;
    border: none;
    background: #ebe9e4ad;
    border-radius: 5px;
    /*round corners*/
    color: rgb(23, 194, 185);
    font-weight: 500;
    padding: 5px;
    /*Box shadow setting*/
    -webkit-box-shadow: 0 8px 6px -6px rgb(88, 81, 81);
    -moz-box-shadow: 0 8px 6px -6px rgb(102, 94, 94);
    box-shadow: 0 8px 6px -6px rgb(100, 96, 96);
}


/*submit button*/

#contact-form button[type='submit']:hover {
    background: rgb(23, 194, 185);
    color: #4b515d;
    /*box shadow settings*/
    box-shadow: 0 8px 6px -6px black;
    transition: background-color 0.3s ease-in-out;
}


/*contact button box shadow*/

#contact-form button[type='submit']:active {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.modal-bg {
    display: flex;
    float: right;
    margin: -17% 0%;
    padding: 10px;
    justify-content: center;
    background-color: #817f7849;
    color: #43cec7;
    font-weight: 600;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 186px;
    display: none;
}

footer {
    margin: 0;
    height: 102px;
    background: #77777a;
    display: flex;
    justify-content: center;
}

.grey-footer {}

footer h6 {
    text-align: center;
    color: #B8B6B6;
    padding: 38px 0px 0px 332px;
    width: 65%;
    font-size: 10px;
    /* margin-left: 35%; */
}