/*body settings*/

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/*main heading specifications*/

h1 {
    font-family: 'Cormorant Upright', serif;
    color: #c0af5d;
    font-weight: 500;
    font-size: 5em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Upright', serif;
    font-weight: 200;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .5em;
}

P {
    font-family: 'Cormorant Upright', serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s ease-out;
}


/*hover colour when cursor hovers*/

a:hover {
    color: #3edfd7;
}


/*
HERO 
*/

.section-hero {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /*set view width to 100%*/
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 0px;
    grid-template-areas: ". title ." ". sub-header ." "hornet1 image hornet2" ". footer .";
    justify-content: center;
    align-content: center;
    height: 100vh;
}


/*hero heading specs*/

.hero h1 {
    grid-area: title;
    color: #c0af5d;
    text-align: center;
    align-self: center;
    font-size: 2.3vw;
}


/* hero paragraph settings*/

.hero h3 {
    grid-area: sub-header;
    text-align: center;
    font-style: italic;
    font-size: 1.1vw;
}

#celebrate,
h2 {
    grid-area: footer;
    color: #c0af5d;
    font-size: 3vw;
    text-align: center;
    align-self: center;
    animation: fadeInUp;
    /*text fades up*/
    animation-duration: 2s;
    /*animation duration*/
    animation-delay: 1s;
    /* set a duration & delay */
}


/*hero image positioning*/

.hero-image {
    grid-area: image / image / image / image;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.hornet1 {
    grid-area: hornet1;
    width: 20%;
    z-index: 2;
    animation: rotating 2s linear;
    animation-iteration-count: infinite;
}

.hornet2 {
    grid-area: hornet2;
    width: 58%;
}


/*navigation position font specs and size*/

.nav .nav-links {
    position: fixed;
    top: 40%;
    color: #817f78;
    font-size: .6vw;
    font-weight: 400;
    line-height: 1.5vw;
    margin-left: 2%;
}


/* 
.hamburger.btn {
    background: none;
    border: none;
    text-decoration: none;
    padding: 0.8em;
    cursor: pointer;
    margin: 5%;
} */


/* 
.hamburger.btn .fa {
    color: #413f3c;
    border: none;
    background: none;
    font-size: 3em;
}
 */


/* navigation dots

#fp-nav ul li .fp-tooltip {
    color: #413f3c;
}

.fp-slidesNav {
    left: 7% !important;
    bottom: 5% !important;
}

.section {
    height: 100vh;
}

.section .fp-tableCell {
    padding: 1.5em;
} */


/*prompt is the user over 18 overlay to make text and buttons visible*/

.modal-intro {
    display: flex;
    grid-area: main;
    /* margin-left: -3%; */
}


/* modal styling and size with box shadow */

.modal-bg {
    position: fixed;
    margin: auto;
    padding: 20px;
    background: rgba(80, 81, 85, 0.637);
    width: 325px;
    height: 170px;
    text-align: center;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 50%);
    /* opacity: 12; */
    z-index: 1010;
    /*set to display over other elements*/
    transform: translate(-50%, -50%);
    /*  visibility: hidden;*/
    transition: visibility 0s opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-content h4 {
    color: #dbe4e6;
    font-size: 2em;
    font-style: bold;
}

.modal-content {
    align-items: center;
    padding: 20px 50px 20px 20px;
    z-index: 1000;
}


/*button sizing and specs*/


/*yes button*/

.modal-yes {
    width: 85px;
    height: 30px;
    border-radius: 10%;
    margin: 0 1.0em;
    background: #3ccacf;
    transition: all .2s ease-in-out;
}


/*yes button on hover*/

.modal-yes :hover {
    background-color: #c0af5d;
    transform: scale(2.0);
}


/*no button*/

.modal-no {
    width: 85px;
    height: 30px;
    border-radius: 10%;
    margin: auto;
    background: #817f78;
    color: #413f3c;
}


/* Shoelace content  */


/* The component's base wrapper. */

sl-dialogue,
.intro {
    margin-top: 50%;
    margin-left: 50%;
}

sl-dialog::part(base) {
    position: fixed;
    top: 60%;
    left: 50%;
    padding: 20px;
    background: rgba(80, 81, 85, 0.637);
    width: 325px;
    height: 170px;
    text-align: center;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 50%);
    /* opacity: 12; */
    z-index: 1010;
    /*set to display over other elements*/
    transform: translate(-50%, -50%);
    /*  visibility: hidden;*/
    transition: visibility 0s opacity 0.5s;
}


/* The dialog body. */

sl-dialog::part(body) {
    border: none;
    background-color: #413f3c;
}


/* The dialog header. */

sl-dialog::part(header) {
    border: none;
}


/* The dialog title. */

sl-dialog::part(title) {
    border: none;
}


/* The overlay. */

sl-dialog::part(overlay) {
    border: none;
    background: #413f3c;
    /* The dialog body. */
}


/* The dialog panel (where the dialog and its content is rendered). */

sl-dialog::part(panel) {
    border: none;
    background-color: #413f3c;
    box-shadow: 0 8px 6px -6px rgba(80, 81, 85, 0.466);
}


/* The dialog footer. */

sl-dialog::part(footer) {
    border: none;
    /* The dialog body. */
}


/* button yes */

sl-button .yes::button {
    width: 80px;
    height: 33px;
    border-radius: 1em;
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 6px -6px rgba(247, 249, 250, 0.5);
}


/* button no */

sl-button .no::button {
    width: 80px;
    height: 33px;
    border-radius: 1em;
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 6px -6px rgba(247, 249, 250, 0.5);
}


/***************************************************
 * Generated by SVG Artista on 2/24/2021, 8:34:01 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

hero-title-svg .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

hero-title-svg.active .svg-elem-1 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

hero-title-svg.active .svg-elem-2 {
    fill: rgb(192, 175, 93);
}

svg .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

hero-title-svg.active .svg-elem-3 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

hero-title-svg.active .svg-elem-4 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

hero-title-svg.active .svg-elem-5 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

hero-title-svg.active .svg-elem-6 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

hero-title-svg.active .svg-elem-7 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

hero-title-svg.active .svg-elem-8 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

hero-title-svg.active .svg-elem-9 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-10 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

hero-title-svg.active .svg-elem-10 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-11 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
}

hero-title-svg.active .svg-elem-11 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-12 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
}

hero-title-svg.active .svg-elem-12 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-13 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

hero-title-svg.active .svg-elem-13 {
    fill: rgb(192, 175, 93);
}

hero-title-svg .svg-elem-14 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

hero-title-svg.active .svg-elem-14 {
    fill: rgb(192, 175, 93);
}