/*****JOURNEY SECTION 1*****/

.section-journey {
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 20% 10%;
    /*set view width to 100%*/
}

.grid-journey {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.2fr .5fr 1fr .1fr;
    gap: 5px 5px;
    grid-template-areas: "title image" "subtitle image" "text image" "image2 image" " . .";
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.journey-header {
    text-align: center;
    font-size: 2em;
    grid-area: title;
    align-self: flex-start;
    z-index: 2;
}

.journey-text {
    align-self: center;
    text-align: center;
    grid-area: subtitle;
    color: #5a5953;
    font-style: bold;
    font-size: 14px;
    z-index: 2;
}

.journey-p {
    align-self: center;
    text-align: center;
    grid-area: text;
    color: #5a5953;
    font-style: bold;
    font-size: 14px;
    z-index: 2;
}

.journey-image {
    grid-area: image;
}

.journey-img1 {
    grid-area: image2;
    z-index: 2;
}

.discover h1 {
    display: hidden;
}


/*****JOURNEY SECTION 2****/

.section-journey2 {
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 6%;
    /*set view width to 100%*/
}

.journey2-container {
    display: grid;
    grid-template-columns: minmax(20px, 60px) minmax(50px, 1500px) minmax(150px, 60px) minmax(150px, 60px) minmax(150px, 60px) minmax(150px, 60px) minmax(150px, 60px) minmax(20px, 60px);
    grid-template-rows: minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) 0.1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . . . ." ". title title title . . ." ". . . . . . ." ". sub-title image image image side ." ". text image image image side-text ." ". . image image image image1 ." ". . image image image . ." ". . image image image . ." ". . . . . . .";
    justify-items: centre;
    align-items: centre
}

#Perfection {
    grid-area: title;
    font-size: 4em;
    justify-content: center;
    color: #c0af5d;
    animation: backInOut;
    animation-duration: 2s;
}

.journey2-subtitle {
    grid-area: sub-title;
    text-align: center;
    width: 175%;
    /* padding-top: 50px; */
    padding: 0px 0px 0px 60px;
    /* margin-left: 34%; */
    font-style: bold;
    font-size: 19px;
    font-weight: 700;
}

.journey2-text,
.journey2-para,
.journey2-side {
    font-size: 12px;
}

.journey2 p {
    text-align: center;
    grid-area: text;
    font-size: 14px;
    padding: 0% -2px;
    color: #817f78;
    width: 156%;
    padding-left: 107px;
    z-index: 2;
    align-self: center;
}

.journey2-side {
    text-align: center;
    /* grid-area: 2/4; */
    grid-area: side;
    width: 133%;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    animation: animate__fadeInTopLeft;
    animation: pulse 2s ease infinite alternate;
}

.side-text {
    grid-area: side-text;
    text-align: center;
    font-size: 14px;
    color: #5a5953;
    /* padding: 0px 0px 0px 0px; */
    width: 131%;
    align-self: center;
}

.journey2-image {
    display: flex;
    justify-content: center;
    grid-area: image;
    width: 95%;
    margin-left: 14%;
    align-items: center;
    z-index: 1;
}

.journey2-image1 {
    grid-area: image1;
    width: 125%;
    padding: 35px 0px 0px 42px;
}