/*****JOURNEY SECTION 1*****/

.section-journey {
    background-color: #ffffff;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0% 10% 0% 20%;
    /*set view width to 100%*/
}

.grid-journey {
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-template-rows: 0.3fr 0.2fr 0.1fr;
    gap: 5px 20px;
    grid-template-areas: "title image" "text image" "image2 image";
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.journey-title {
    text-align: center;
    font-size: 1em;
    grid-area: title;
    z-index: 2;
}

.journey-content {
    /* max-width: 80vw; */
    align-self: center;
    text-align: center;
    grid-area: text;
    color: #5a5953;
    font-style: bold;
    font-size: 14px;
    z-index: 2;
}

.journey-text {
    font-size: 14px;
    color: #5a5953;
    font-style: bold;
}

.journey-2-content,
p {
    color: #5a5953;
    font-size: 12px;
    z-index: 2;
}

.journey-image--primary {
    /* max-width: calc(70% - 150px); */
    grid-area: image;
}

.journey-image--secondary {
    grid-area: image2;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.journey-img1 {
    max-width: 50%;
}

.journey-header {
    display: hidden;
}


/*****JOURNEY SECTION 2****/

.section-journey2 {
    background-color: #ffffff;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10% 4% 0% 12%;
    /*set view width to 100%*/
}

.grid-journey2 {
    display: grid;
    grid-template-columns: 0.5fr .8fr 0.5fr;
    grid-template-rows: 0.3fr 0.2fr 0.5fr 0.5fr;
    gap: 5px 20px;
    grid-template-areas: "title image ." "text image side" "text image side" ". image image1";
    align-items: center;
    max-height: 100vh;
    /* max-width: calc(100% - 20%); */
}

#j2-title {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #c0af5d;
    animation: backInOut;
    animation-duration: 2s;
}

.journey2-main-text {
    font-size: 14px;
    color: #5a5953;
}

.journey2-text2 {
    font-size: 14px;
    font-weight: 500;
    color: #5a5953;
}

.journey2-title,
.journey-content,
.journey2-side {
    text-align: center;
}

.journey2-subtitle {
    font-size: 19px;
    font-style: bold;
    padding-left: 60px;
    font-weight: 700;
}

.journey2-text1 {
    color: #c0af5d;
    font-size: 14px;
    font-style: bold;
}

.journey2-title {
    grid-area: title;
}

.journey2-content {
    grid-area: text;
}

.journey2-side {
    grid-area: side;
    animation: animate__fadeInTopLeft;
    animation: pulse 2s ease infinite alternate;
}

.journey2-side--text {
    grid-area: side-text;
    text-align: center;
    font-size: 16px;
    font-style: bold;
    color: #c0af5d;
}

.journey2-image--primary {
    display: flex;
    justify-content: center;
    grid-area: image;
    z-index: 1;
}

.journey2-image--secondary {
    grid-area: image1;
    margin-right: 26%;
    place-self: flex-start;
    margin-top: -11%;
}

.journey2-image {
    max-width: 100%;
}

.journey2-image1 {
    max-width: 32%;
    place-self: center;
}