/*****JOURNEY SECTION 1*****/

.section-journey {
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    /*set view width to 100%*/
}

.journey-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max-content 2fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px 0px;
    grid-template-areas: ". . . . ." ".  title image1 . ." ".  sub-title image1 . ." ".  paragraph image1 . ." ".  image2 . . ." ". . . . ."; */
    display: grid;
    grid-template-columns: minmax(50px, 250px) minmax(50px, 350px) minmax(50px, 350px);
    grid-template-rows: minmax(20px, 60px) minmax(20px, 60px) minmax(50px, 300px) minmax(20px, 300px);
    gap: 5px 5px;
    grid-template-areas: "title . . " "subtitle . . " "text image image" "image1 . . ";
    align-items: center;
    justify-content: center;
}

.journey-title {
    text-align: center;
    font-size: 4em;
    grid-area: title;
    align-self: end;
}

.journey-text {
    align-self: center;
    /* margin-left: 27%; */
    text-align: center;
    grid-area: subtitle;
    /* padding: 0px 0px 0px 50px; */
    color: #5a5953;
    width: 97%;
    font-style: bold;
    /* max-block-size: fit-content; */
    font-size: 14px;
}

.journey p {
    text-align: center;
    grid-area: text;
    font-size: 12px;
    padding: 5px 5px;
    padding: 0% -2px;
    color: #817f78;
    z-index: 2;
    align-self: baseline;
}

.journey-image {
    display: flex;
    justify-content: center;
    max-width: 154%;
    grid-area: image;
}

.journey-img1 {
    grid-area: text;
    max-width: 84%;
    padding: 0px 0px 0px 45px;
}

.discover h1 {
    display: hidden;
}


/*****JOURNEY SECTION 2****/

.section-journey2 {
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 6%;
    /*set view width to 100%*/
}

.journey2-container {
    display: grid;
    grid-template-columns: minmax(20px, 60px) minmax(50px, 1500px) minmax(150px, 60px) minmax(150px, 60px) minmax(150px, 60px) minmax(150px, 60px) minmax(150px, 60px) minmax(20px, 60px);
    grid-template-rows: minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) minmax(20px, 60px) 0.1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . . . ." ". title title title . . ." ". . . . . . ." ". sub-title image image image side ." ". text image image image side-text ." ". . image image image image1 ." ". . image image image . ." ". . image image image . ." ". . . . . . .";
    justify-items: centre;
    align-items: centre
}

#Perfection {
    grid-area: title;
    font-size: 4em;
    justify-content: center;
    color: #c0af5d;
    animation: backInOut;
    animation-duration: 2s;
}

.journey2-subtitle {
    grid-area: sub-title;
    text-align: center;
    width: 175%;
    /* padding-top: 50px; */
    padding: 0px 0px 0px 60px;
    /* margin-left: 34%; */
    font-style: bold;
    font-size: 19px;
    font-weight: 700;
}

.journey2-text,
.journey2-para,
.journey2-side {
    font-size: 12px;
}

.journey2 p {
    text-align: center;
    grid-area: text;
    font-size: 14px;
    padding: 0% -2px;
    color: #817f78;
    width: 156%;
    padding-left: 107px;
    z-index: 2;
    align-self: center;
}

.journey2-side {
    text-align: center;
    /* grid-area: 2/4; */
    grid-area: side;
    width: 133%;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    animation: animate__fadeInTopLeft;
    animation: pulse 2s ease infinite alternate;
}

.side-text {
    grid-area: side-text;
    text-align: center;
    font-size: 14px;
    color: #5a5953;
    /* padding: 0px 0px 0px 0px; */
    width: 131%;
    align-self: center;
}

.journey2-image {
    display: flex;
    justify-content: center;
    grid-area: image;
    width: 95%;
    margin-left: 14%;
    align-items: center;
    z-index: 1;
}

.journey2-image1 {
    grid-area: image1;
    width: 125%;
    padding: 35px 0px 0px 42px;
}