/****
Patron Range 1******/

.section-range1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10% 0 0 10%;
}

.grid-range1 {
    display: grid;
    grid-template-columns: 0.1fr .2fr 2fr 0.8fr;
    grid-template-rows: 0.3fr 0.5fr 0.1fr;
    gap: 5px 10px;
    grid-template-areas: "title title title title" ". image image text" ". text1 text1 .";
    align-items: center;
    text-align: center;
    max-height: 100vh;
    max-width: 80%;
}

#Range1-title {
    text-align: center;
    color: #c0af5d;
    font-size: 28px;
    font-size: 4em;
    grid-area: title;
    font-size: 4em;
    align-self: baseline;
}

.range1-title {
    grid-area: title;
}

.range1-content {
    grid-area: text;
    place-self: center;
}

.range1-tag {
    display: flex;
    flex-direction: inherit;
    grid-area: text1;
    justify-content: space-around;
    padding-left: 18%;
}

.range1-image-main {
    grid-area: image;
}

.range1-subtitle {
    font-size: 1.2em;
}


/*heading specs*/

.range1-text {
    align-self: center;
    font-size: 14px;
    padding-left: 24%;
    z-index: 1;
}

.patron-set1 {
    width: 120%;
}

.anejo,
.silver,
.reposado {
    font-size: 9px;
    color: #817f78;
    text-align: center;
    display: flex;
    text-align: center;
    width: 90px;
    z-index: 3;
}

.anejo {
    display: flex;
    align-self: flex-end;
}

.silver {
    text-align: center;
}

.reposado {
    text-align: center;
}


/***** Patron Range2******/

.section-range2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10% 0px 0 12%;
}

.patron-range2 {
    text-align: center;
}

.grid-range2 {
    display: grid;
    grid-template-columns: 0.2fr .7fr 0.2fr;
    grid-template-rows: 0.3fr 0.2fr 0.5fr 0.1fr;
    gap: 5px 10px;
    grid-template-areas: "title title title " "subtitle subtitle subtitle" ". image side" ". text text";
    align-items: center;
    text-align: center;
    max-height: 100vh;
    max-width: 80%;
}

.range2-header {
    grid-area: title;
}

.range2-title {
    color: #c0af5d;
    font-size: 5.5vw;
}

.range2-subtitle {
    color: #c0af5d;
    font-size: .8vw;
    grid-area: subtitle;
}

.range2-side {
    grid-area: side;
    width: 63%;
}

.range2-image--main {
    grid-area: image;
}

.gran-patron {
    max-width: 90%;
}

.range2-tag {
    grid-area: text;
    display: flex;
    flex-direction: inherit;
    justify-content: space-evenly;
    margin-top: -3%;
}

.range2-sidequote {
    font-size: 1.5vw;
    color: #c0af5d;
    font-weight: 700;
    font-style: bold;
    z-index: 2;
}

.sidequote-text {
    font-size: 1.2vw;
    color: #c0af5d;
}

.platinum,
.Burdeos,
.Piedra {
    font-size: 1vw;
    color: #817f78;
    width: 120px;
    align-self: center;
    text-align: center;
}

.platinum {
    z-index: 3;
}

.Burdeos {
    z-index: 3;
}

.Piedra {
    z-index: 3;
}


/***** Patron Range3******/

.section-range3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 15% 0% 0% 5%;
}

.grid-range3 {
    display: grid;
    grid-template-columns: 0.4fr 0.5fr;
    grid-template-rows: 1.0fr 0.3fr 0.3fr 0.2fr 0.1fr;
    gap: 0px 5px;
    grid-template-areas: "title image" "text image" "text2 image" "logo image";
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 100vh;
    max-width: 100%;
}

.range3-subtitle {
    color: #c0af5d;
    text-align: center;
    font-size: 16px;
    font-style: bold;
}

.range3-header {
    grid-area: title;
}

.range3-title {
    font-size: 4vw;
    color: #c0af5d;
}

.range3-text {
    grid-area: text;
    font-size: 16px;
}

.range3-text2 {
    grid-area: text2;
}

.range3-image--main {
    grid-area: image;
    text-align: center;
    z-index: 2;
}

.patron-xocafe {
    width: 154%;
    height: 154%;
}

.range3-image--logo {
    grid-area: logo;
    font-size: 15px;
    width: 98%;
    display: contents;
    z-index: 11;
}

.xocafe {
    font-size: 15px;
    width: 98%;
    z-index: 2;
}

.range3-info {
    font-size: 14px;
    color: #817f78;
}

.hornetlogo {
    width: 231px;
    align-self: flex-start;
    transform: rotate( 35deg);
    z-index: 1;
}


/***** Patron Range4******/

.section-range4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10% 0% 0% 5%;
}

.grid-range4 {
    display: grid;
    grid-template-columns: 0.2fr .4fr 0.2fr;
    grid-template-rows: 0.2fr 0.1fr 0.1fr 0.1fr 0.2fr 0.3fr;
    gap: 5px 10px;
    grid-template-areas: "title title title" "subtitle subtitle subtitle" ". . . ""text image side" "text1 image sidetext";
    justify-content: center;
    align-items: center;
}

.range4-title {
    grid-area: title;
    font-size: 2vw;
    color: #c0af5d;
    z-index: 2;
}

.range4-main--text p,
.range4-side p {
    font-size: 1.5vw;
    font-style: bold;
    color: #c0af5d;
    max-width: 70%;
}

.range4-main--text1 P,
.range4-side-text p {
    width: 70%;
}

.range4-text,
.range4-subtitle,
.range4-main--text,
.range4-main--text1,
.range4-side,
.range4-side-text {
    text-align: center;
}

.range4-main--text1,
.range4-side-text {
    font-size: 14px;
}

.range4-subtitle {
    grid-area: subtitle;
}

.subtitle {
    font-size: 2vw;
    font-weight: 800;
    color: #c0af5d;
}

.range4-main--text {
    grid-area: text;
}

.range4-main--text1 {
    grid-area: text1;
    z-index: 2;
}

.range4-side {
    grid-area: side;
}

.range4-side-text {
    grid-area: sidetext;
    color: #817f78;
    z-index: 2;
}

.range4-image--main {
    grid-area: image;
    z-index: 1;
}

.main-image {
    width: 90%;
}

.range4-image--logo {
    display: flex;
    justify-content: center;
    grid-area: text1;
    z-index: 1;
}


/*agave images*/


/* 
.range4-images--agave {
    display: inline-flex;
}

.range4-image--image1 {
    grid-area: text1;
    z-index: 3;
}

.range4-image--image2 {
    grid-area: side-text;
    z-index: 3;
}

.range4-agave2 {
    grid-area: agave2;
    width: 49%;
}

*/


/* .patron-limited {
    grid-area: image;
    width: 100%;
} */

.hornetlogo2 {
    display: flex;
    width: 34%;
    z-index: -1;
}