/****
Patron Range 1******/

.section-range1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

.grid-range1 {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, .2fr .2fr .2fr 1fr .2fr));
    grid-template-columns: 1fr 0.2fr;
    gap: 5px 10px;
    grid-template-areas: "title title" "subtitle subtitle" "text text" "side side" "image image" "image image" "bottom bottom";
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 100vh;
}

#Range1-title {
    font-size: 4vw;
    align-self: baseline;
}

.range1-title {
    grid-area: title;
}

#Range1-title,
.range1-subtitle {
    color: #c0af5d;
}

.range1-subtitle {
    grid-area: subtitle;
    font-size: 1.5vw;
}

.range1-content {
    grid-area: text;
}

.range1-text {
    align-self: center;
    font-size: 1.5vw;
    color: #c0af5d;
    width: 70%;
    margin: auto;
    padding-top: 3%;
    z-index: 1;
}

.range1-side {
    grid-area: bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.range1-tag {
    grid-area: bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.range1-image-main {
    grid-area: image;
}

.patron-set1 {
    width: 65%;
}

.anejo,
.silver,
.reposado {
    font-size: 1vw;
    color: #817f78;
    text-align: center;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    width: 16%;
    z-index: 3;
}

.anejo {
    align-self: center;
}

.silver {
    text-align: center;
}

.reposado {
    text-align: center;
}


/***** Patron Range2******/

.section-range2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10% 0px 0 12%;
}

.patron-range2 {
    text-align: center;
}

.grid-range2 {
    display: grid;
    grid-template-columns: 0.1fr .7fr 0.2fr;
    grid-template-rows: 0.1fr 0.1fr 0.4fr 0.1fr;
    gap: 5px 10px;
    grid-template-areas: "title title title " "subtitle subtitle subtitle" ". image side" ". text text";
    align-items: center;
    text-align: center;
    max-height: 100vh;
    max-width: 80%;
}

.range2-header {
    grid-area: title;
}

.range2-title {
    color: #c0af5d;
    font-size: 4vw;
}

.range2-subtitle {
    color: #c0af5d;
    font-size: 1vw;
    width: 40%;
    margin: auto;
    grid-area: subtitle;
}

.range2-side {
    grid-area: side;
    width: 63%;
}

.range2-image--main {
    grid-area: image;
}

.gran-patron {
    width: 79%;
}

.range2-tag {
    grid-area: text;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.range2-sidequote {
    font-size: 1vw;
    color: #c0af5d;
    font-weight: 700;
    font-style: bold;
    z-index: 2;
}

.sidequote-text {
    font-size: 1.2vw;
    color: #c0af5d;
}

.platinum,
.Burdeos,
.Piedra {
    font-size: 1.1vw;
    color: #817f78;
    width: 20%;
    align-self: center;
    text-align: center;
}

.platinum {
    z-index: 3;
}

.Burdeos {
    z-index: 3;
}

.Piedra {
    z-index: 3;
}


/***** Patron Range3******/

.section-range3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

.grid-range3 {
    display: grid;
    grid-template-columns: 0.4fr 0.5fr;
    grid-template-rows: 0.5fr 0.1fr 0.3fr 0.2fr 0.1fr;
    gap: 0px 5px;
    grid-template-areas: "title image" "text image" "text2 image" "logo image";
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 100vh;
    max-width: 100%;
}

.range3-subtitle {
    color: #c0af5d;
    text-align: center;
    font-size: 1.2vw;
    font-style: bold;
}

.range3-header {
    grid-area: title;
}

.range3-title {
    font-size: 3.5vw;
    color: #c0af5d;
}

.range3-text {
    grid-area: text;
    font-size: .8vw;
}

.range3-text2 {
    grid-area: text2;
}

.range3-image--main {
    grid-area: image;
    text-align: center;
    z-index: 2;
}

.patron-xocafe {
    width: 150%;
}

.range3-image--logo {
    grid-area: logo;
    width: 60%;
    display: contents;
    z-index: 11;
}

.xocafe {
    font-size: 1.2vw;
    width: 98%;
    z-index: 2;
}

.range3-info {
    font-size: 1vw;
    color: #817f78;
}

.hornetlogo {
    width: 40%;
    align-self: flex-start;
    transform: rotate( 35deg);
    z-index: 1;
}


/***** Patron Range4******/

.section-range4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

.grid-range4 {
    display: grid;
    grid-template-columns: 0.2fr .4fr 0.2fr;
    grid-template-rows: 0.1fr 0.1fr 0.2fr 0.1fr 0.1fr 0.1fr;
    gap: 5px 10px;
    grid-template-areas: "title title title" "subtitle subtitle subtitle" "text image side" "text1 image sidetext";
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-left: 5%;
}

.range4-title {
    grid-area: title;
    font-size: 3.5vw;
    color: #c0af5d;
    z-index: 2;
}

.range4-main--text p,
.range4-side p {
    font-size: 1.2vw;
    font-style: bold;
    color: #c0af5d;
    max-width: 70%;
}

.range4-main--text1 P,
.range4-side-text p {
    width: 70%;
}

.range4-text,
.range4-subtitle,
.range4-main--text,
.range4-main--text1,
.range4-side,
.range4-side-text {
    text-align: center;
}

.range4-main--text1,
.range4-side-text {
    font-size: 0.7vw;
}

.range4-subtitle {
    grid-area: subtitle;
}

.subtitle {
    font-size: 1.3vw;
    font-weight: 800;
    color: #c0af5d;
}

.range4-main--text {
    grid-area: text;
}

.range4-main--text1 {
    grid-area: text1;
    font-size: 1.2vw;
    color: #817f78;
    z-index: 2;
}

.range4-side {
    grid-area: side;
}

.range4-side-text {
    grid-area: sidetext;
    font-size: 1.2vw;
    color: #817f78;
    z-index: 2;
}

.range4-image--main {
    grid-area: image;
    z-index: 1;
}

.main-image {
    width: 80%;
}

.range4-image--logo {
    display: flex;
    justify-content: center;
    grid-area: text1;
    z-index: 1;
}

.hornetlogo2 {
    display: flex;
    width: 34%;
    z-index: -1;
}