@import "journey.css";
@import "cocktails.css";
@import "patron-range.css";
@import "contact.css";
@import "media-queries.css";

/* Resets - removes all default padding etc which will cause you style grief*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*body settings*/

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*main heading specifications*/

h1 {
    font-family: 'Cormorant Upright', serif;
    color: #c0af5d;
    font-weight: 500;
    font-size: 5em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Upright', serif;
    font-weight: 200;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .5em;
}

P {
    font-family: 'Cormorant Upright', serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s ease-out;
}


/*hover colour when cursor hovers*/

a:hover {
    color: #3edfd7;
}


/*
HERO 
*/

.section-hero {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: auto;
    /*set view width to 100%*/
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 0.3fr 0.3fr 9fr 1fr;
    gap: 5px 0px;
    grid-template-areas: ". title ." ". sub-header ." ". image ." ". footer .";
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}


/*hero heading specs*/

.hero h1 {
    grid-area: title;
    text-align: center;
    align-self: center;
    font-size: 3.5vw;
}


/* hero paragraph settings*/

.hero h3 {
    grid-area: sub-header;
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

#celebrate,
h2 {
    grid-area: footer;
    color: #c0af5d;
    font-size: 3vw;
    text-align: center;
    /* margin: -4% -17; */
    align-self: center;
    animation: fadeInUp;
    animation-duration: 3s;
    animation-delay: 1.5s;
    /* set a duration & delay */
}


/*animate hero heading*/


/*hero image positioning*/

.hero-image {
    grid-area: image / image / image / image;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 65%;
}

.hornet1 {
    grid-area: 7/2;
    width: 20%;
    z-index: 2;
}

.hornet2 {
    grid-area: 3/2;
}


/*navigation position font specs and size*/

.nav .nav-links {
    position: fixed;
    top: 40%;
    color: #817f78;
    font-size: .7vw;
    font-weight: 400;
    line-height: 1.5vw;
    margin-left: 2%;
}


/*prompt is the user over 18 overlay to make text and buttons visible*/

.modal-into {
    display: flex;
    grid-area: main;
}

.modal-bg {
    /*set position to relative*/
    position: fixed;
    padding: 25px;
    background: rgba(80, 81, 85, 0.671);
    width: 250px;
    height: 100px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index: 1010;
    /*set to display over other elements*/
    transform: translate(-50%, -50%);
    /*  visibility: hidden;*/
    transition: visibility 0s opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-content h4 {
    color: #dbe4e6;
}

.modal-content {
    align-items: center;
    padding: 20px 50px 20px 20px;
    z-index: 1000;
}


/*button sizing and specs*/

.modal-content button {
    width: 60px;
    height: 20px;
    border-radius: 1em;
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 6px -6px rgba(247, 249, 250, 0.5);
}


/*yes button*/

.modal-yes {
    margin: 0 1.0em;
    background: #3ccacf;
    transition: all .2s ease-in-out;
}


/*yes button on hover*/

.modal-yes :hover {
    background-color: #c0af5d;
    transform: scale(2.0);
}


/*no button*/

.modal-no {
    margin: auto;
    background: #817f78;
    color: #413f3c;
}